*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-cafe-1440x800.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Navigation */
.header {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

.nav__container {
    width: 95%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.nav {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 50px;
    height: 50px;
}

.nav__link {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(20, 242, 93, 1);
    text-transform: uppercase;
}
.current{
    color: rgb(1, 165, 56);;
}
.zoom{
    transition: transform .2s;
    margin: 0 auto;
}
.zoom:hover{
    transform: scale(1.2);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*end navigation*/
/*main*/
.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container{
    width: 95%;
    height: auto;
    background: rgba(32, 32, 32, 0.7);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
    margin-bottom: 4%
}
.main-article{
    display: flex;
    flex-direction: column;
    text-align: end;
    align-items: flex-end;
    padding-right: 20px;
    max-width: 50vw;
    flex-grow: 1.8;
}
.main__title {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: rgba(20, 242, 93, 1);
    text-transform: uppercase;
}
.main__text{
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    color: rgba(20, 242, 93, 1);
    text-transform: none;
    max-width: 446px;
    height: auto;
}
.main__img{
    display: flex;
    max-height: 100%;
    height: auto;
    padding-left: 20px;
    flex-grow: 1.2;
}
/*end main*/
/*footer*/
.footer {
    width: 100%;
    min-height: 40px;
    margin-top: auto;
    background-color: rgba(20, 242, 93, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}
.footer__container {
    max-width: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__info {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-w-text {
    display: flex;
    align-items: center;
}
.bean-logo--white {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.socials {
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}
/* End Footer */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(2, 139, 47, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(20, 242, 93, 1);
}
