* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background-cafe-1440x800.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* header */
.header {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
}

.nav__container {
    width: 95%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.nav {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 50px;
    height: 50px;
}

.nav__link {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(20, 242, 93, 1);
    text-transform: uppercase;
}

.current {
    color: rgb(1, 165, 56, 1);
}
/* end header */

/* main */
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container {
    width: 95%;
    height: 75vh;
    overflow: auto;
    background-color: rgba(32, 32, 32, 0.7);
    border-radius: 8px;
}

.main-title {
    padding-top: 4%;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 4px;
    text-align: center;
    color: rgba(20, 242, 93, 1);
    text-transform: uppercase;
}

.main__content {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__info-map {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-info {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.sub-title {
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 4px;
    color: rgba(20, 242, 93, 1);
    text-transform: uppercase;
}

.info-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 3px;
    color: rgba(20, 242, 93, 1);
    text-transform: none;
    text-align: center;
}



.info-text--phone {
    margin-top: 0;
}

.map {
    max-width: 600px;
    width: 100%;
    border: 3px solid rgba(20, 242, 93, 0.3);
    border-radius: 6px;
}

.form {
    width: 80%;
    max-width: 1350px;
    max-height: 450px;
    padding: 10px;
    margin-top: 4%;
    border-radius: 6px;
    background-color: rgba(2, 139, 47, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label {
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(20, 242, 93, 1);
}

.form__input {
    width: 100%;
    margin: 5px;
    padding-top: 5px;
    padding-left: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: rgba(20, 242, 93, 1);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(2, 139, 47, 1);
    resize: none;
}

.form__input::placeholder {
    color: rgba(2, 139, 47, 1);
}

.button {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: rgba(20, 242, 93, 1);
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: rgba(2, 139, 47, 1);
    cursor: pointer;
}
/* end main */

/* footer */
.footer {
    width: 100%;
    min-height: 40px;
    margin-top: auto;
    background-color: rgba(20, 242, 93, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    font-family: 'M PLUS 1p', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.footer__container {
    max-width: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__info {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-w-text {
    display: flex;
    align-items: center;
}

.bean-logo--white {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

.socials {
    min-width: 80px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    .footer__container {
        flex-direction: column;
        padding-bottom: 4%;
    }

    .footer__info {
        flex-direction: column;
    }

    .form {
        width: 95%;
    }

    .main__container {
        height: auto;
    }
}

/* end footer */

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(2, 139, 47, 1);
}

::-webkit-scrollbar-thumb {
    background: rgba(20, 242, 93, 1);
}

/* hover and focus */
.zoom:hover{
    transform: scale(1.2);
    transition: 0.2s;
}

.map:hover {
    border-color: rgba(20, 242, 93, 1);
    transition: 0.3s ease-in-out;
}

.form__input:hover, button:hover {
    background-color: rgb(11, 194, 72);
    text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    transition: all ease 0.2s;
}

.form__input:focus, button:focus {
    background-color: rgb(7, 156, 57);
    color: rgba(20, 242, 93, 1);
    text-shadow: rgba(0, 0, 0, 0.25);
    transition: all ease 0.2s;
}
