*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
/* Navigation */
nav img{
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.navbar{
    min-width: 100vh;
    height: 100px;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
}
    /* Toogle Btn */
.toggle-btn{
    position: absolute;
    left: 24px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* float: left; */
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.toggle-menu{
    width: 50px;
    height: 6px;
    background-color: #14F25D;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}
.toggle-menu::before, .toggle-menu::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #14F25D;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
}
.toggle-menu::before{
    transform: translateY(-16px);
}
.toggle-menu::after{
    transform: translateY(16px);
}
    /* End Toggle Btn */
.nav-list{
    width: 380px;
    height: 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    position: absolute;
    left: 150px;
    top: 30px;
}
.nav-list a{
    font-family: 'M PLUS 1p', sans-serif Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 53px;
    text-align: center;
    color: #14F25D;
}
/* End Navigation */
/* Main */
.main-container{
    width: 100%;
    height: 625px;
    /* display: flex; */
    position: absolute;
    top: 0;
}
.center-logo{
    position: absolute;
    /* left: 38%;
    top: -5%; */
    left: 38%;
    top: 10%;
}
.center-text{
    position: absolute;
    top: 59%;
    left: 38%;
}
.center-text p{
    font-family: 'M PLUS 1p', sans-serif ;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    /* text-align: center; */
    color: #14F25D;
}
/* End Main */
/* Footer */
.site-footer{
    width: 100%;
    height: 70px;
    background: rgba(20, 242, 93, 0.5);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'M PLUS 1p', sans-serif;
    position: absolute;
    bottom: 0%;
}
.footer-container{
    max-width: 1180px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-logo{
    display: flex;
}
.footer-logoName{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 25px;
}
.footer-address-icon, .footer-tel-icon{
    margin-left: 50px;
    font-size: 1.5em;
    color: #e5e5e5;
}
.footer-address, .footer-telNumber{
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.social-links{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.footer-fb-icon{
    font-size: 2em;
    color: #e5e5e5;
}
.footer-inst-icon{
    font-size: 2em;
    color: #e5e5e5;
}
/* End Footer */


